<template>
  <el-form ref="form" :model="form" label-width="80px">
    <el-form-item label="菜品名称">
      <el-input v-model="form.name" style="width: 20%"></el-input>
    </el-form-item>
    <el-form-item label="菜品成本">
      <el-input-number
          v-model="form.cost"
          :precision="2"
          :step="1"
          :min="0"
          :max="10000000"
          style="width: 15%"
      ></el-input-number>
    </el-form-item>
    <el-form-item label="菜品价格">
      <el-input-number
          v-model="form.price"
          :precision="2"
          :step="1"
          :min="0"
          :max="10000000"
          style="width: 15%"
      ></el-input-number>
    </el-form-item>
    <el-form-item label="菜品原料">
      <el-input type="textarea" v-model="form.material" style="width: 35%"></el-input>
    </el-form-item>
    <el-form-item label="菜品图片">
      <input type="file" accept="image/*" @change="getImage($event)"/>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="onSubmit">立即创建</el-button>
      <el-button>取消</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: "AddDish",
  data() {
    return {
      form: {
        name: "",
        cost: "",
        price: "",
        material: "",
        images: []
      },
      image:[]
    };
  },
  methods: {
    getImage(event) {
      this.image = [];
      const file = event.target.files;
      for( let i = 0; i < file.length; i++ ) {
        this.image.push(file[i]);
      }
    },
    onSubmit() {
    if(this.form.name===''||this.form.cost===''||this.form.price===''||this.form.material===''||this.image.length===0){
        this.$notify({
            title: "warning",
            message: '输入不能为空',
            type: "warning"
          });
        return
      }
      const formData = new FormData();
      formData.append("name", this.form.name);
      formData.append("cost", this.form.cost);
      formData.append("price", this.form.price);
      formData.append("material", this.form.material);
      for( let i = 0; i < this.image.length; i++ ) {
        formData.append("image", this.image[i]);
      }
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      this.$http.post("api/createDish/", formData, config).then((response) => {
        if( response.data === "success" ) {
          this.$notify({
            title: '成功',
            message: '菜品创建成功',
            type: 'success'
          });
          this.form.name = "";
          this.form.cost = "";
          this.form.price = "";
          this.form.material = "";
          this.form.images = [];
          location.reload();
        }
      });
    }
  }
};
</script>

