<template>
  <el-form ref="form" :model="form" label-width="80px">
    <el-form-item style="width: 20%" label="账号">
      <el-input v-model="form.account"></el-input>
    </el-form-item>
    <el-form-item style="width: 20%" label="密码">
      <el-input v-model="form.password"></el-input>
    </el-form-item>
    <el-form-item label="工资">
      <el-input-number
          v-model="form.salary"
          :precision="2"
          :step="100"
          :min="0"
          :max="10000000"
      ></el-input-number>
    </el-form-item>
    <el-form-item style="width: 20%" label="姓名">
      <el-input v-model="form.name"></el-input>
    </el-form-item>
    <el-form-item label="职位">
      <el-radio-group v-model="form.role" size="medium">
        <el-radio border label="manager"></el-radio>
        <el-radio border label="host"></el-radio>
        <el-radio border label="waiter"></el-radio>
        <el-radio border label="busboy"></el-radio>
        <el-radio border label="cook"></el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="onSubmit">立即创建</el-button>
      <el-button>取消</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: "AddUser",
  data() {
    return {
      form: {
        account: "",
        password: "",
        salary: "",
        name: "",
        role: ""
      }
    };
  },
  methods: {
    onSubmit() {
      if(this.form.account===''||this.form.password===''||this.form.salary===''||this.form.name===''||this.form.role===''){
        this.$notify({
            title: "warning",
            message: '输入不能为空',
            type: "warning"
          });
        return
      }
      const formData = new FormData();
      formData.append("account", this.form.account);
      formData.append("password", this.form.password);
      formData.append("salary", this.form.salary);
      formData.append("name", this.form.name);
      formData.append("role", this.form.role);
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      this.$http.post("api/createUser/", formData, config).then((response) => {
        if( response.data === "success" ) {
          this.$notify({
            title: "成功",
            message: "职工创建成功",
            type: "success"
          });
          this.form.account = "";
          this.form.password = "";
          this.form.salary = "";
          this.form.name = "";
          this.form.role = "";
          location.reload();
        }
      });
    }
  }
};
</script>
