<template>
  <el-tabs type="border-card">
    <el-tab-pane label="菜品总览">
      <OverviewDish></OverviewDish>
    </el-tab-pane>
    <el-tab-pane label="增加菜品">
      <AddDish></AddDish>
    </el-tab-pane>
    <el-tab-pane label="菜品分析">
      <DishAnalysis></DishAnalysis>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import OverviewDish from "../components/OverviewDish.vue";
import AddDish from "../components/AddDish.vue";
import DishAnalysis from "./DishAnalysis.vue";

export default {
  components: { OverviewDish, AddDish, DishAnalysis },
  data() {
    return {};
  }
};
</script>



