<template>
  <el-tabs>
    <el-tab-pane label="菜品总览">
      <OverviewDish></OverviewDish>
    </el-tab-pane>
    <el-tab-pane label="增加菜品">
      <AddDish></AddDish>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import AddDish from './AddDish'
import OverviewDish from './OverviewDish'

export default {
  components: { OverviewDish, AddDish },
  data() {
    return {};
  }
};
</script>
