<template>
  <div>
    <el-menu class="el-menu-demo"
             mode="horizontal"
             style="margin-top: 0">
      <el-menu-item index="1"
                    @click="customize_cancel();percentagePieChart('percentagePieChart')">收入百分比</el-menu-item>
      <el-menu-item index="2"
                    @click="customize_cancel();numberOrdersChart('numberOrdersChart')">点菜次数</el-menu-item>
      <el-menu-item index="3"
                    @click="customize_cancel();timeIntervalChart('timeIntervalChart')">平均耗时</el-menu-item>
      <el-menu-item index="4"
                    @click="customize_cancel();incomeChart('incomeChart')">菜品收入</el-menu-item>
      <el-menu-item index="5"
                    @click="customize">自定义分析</el-menu-item>
    </el-menu>
    <div class="line"></div>
    <el-dialog title="自定义分析选择"
               :visible.sync="dialogFormVisible"
               append-to-body>

      <el-form>
        <el-form-item label="选择菜品"
                      :label-width="formLabelWidth">
          <el-checkbox-group v-model="form.checkList">
            <el-checkbox v-for="(item,i) in this.dishes"
                         :key="i"
                         :label="item.name"></el-checkbox>
          </el-checkbox-group>
        </el-form-item>

        <el-form-item label="分析类型"
                      :label-width="formLabelWidth">
          <el-select v-model="form.type"
                     placeholder="请选择类型">
            <el-option label="收入百分比"
                       value="收入百分比"></el-option>
            <el-option label="点菜次数"
                       value="点菜次数"></el-option>
            <el-option label="菜品收入"
                       value="菜品收入"></el-option>
            <el-option label="平均耗时"
                       value="平均耗时"></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="设定菜品收入期望值"
                      :label-width="formLabelWidth"
                      v-show="this.form.type==='菜品收入'">
          <el-input v-model="income_std_define"
                    clearable
                    placeholder="请输入菜品收入期望值"></el-input>
        </el-form-item>
        <el-form-item label="设定烹饪耗时期望值"
                      :label-width="formLabelWidth"
                      v-show="this.form.type==='平均耗时'">
          <el-input v-model="time_std_define"
                    clearable
                    placeholder="请输入烹饪耗时期望值"></el-input>
        </el-form-item>

        <el-form-item v-show="this.form.type==='收入百分比'||this.form.type==='点菜次数'"
                      label="分析可视化选择"
                      :label-width="formLabelWidth">
          <el-select v-model="form.pieColor"
                     placeholder="请选择样式">
            <el-option label="默认"
                       value='默认'></el-option>
            <el-option label="炫酷"
                       value="炫酷"></el-option>
            <el-option label="简约"
                       value="简约"></el-option>
          </el-select>
        </el-form-item>

      </el-form>

      <div slot="footer"
           class="dialog-footer">
        <el-button @click="customize_cancel">取 消</el-button>
        <el-button type="primary"
                   @click="customize_submit">确 定</el-button>
      </div>
    </el-dialog>

    <div class="space"></div>
    <el-row v-show="this.key==='all'"
            :gutter="20">

      <el-col :span="6">
        <div class="grid-content bg-purple">
          <div id="percentagePie"
               class="chart1"
               style="width: 360px; height: 400px"></div>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="grid-content bg-purple">
          <div id="incomeBar"
               class="chart2"
               style="width:360px;height:400px"></div>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="grid-content bg-purple">
          <div id="NumberOrdersPie"
               class="chart3"
               style="width: 360px; height: 400px"></div>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="grid-content bg-purple">
          <div id="timeIntervalBar"
               class="chart4"
               style="width:360px;height:400px"></div>
        </div>
      </el-col>

    </el-row>
    <div v-show="this.key==='percentagePieChart'"
         id="percentagePieChart"
         style="width: 720px; height: 600px; margin:0 auto;"></div>
    <div v-show="this.key==='numberOrdersChart'"
         id="numberOrdersChart"
         style="width: 720px; height: 600px; margin:0 auto;"></div>
    <div v-show="this.key==='incomeChart'"
         id="incomeChart"
         style="width: 720px; height: 600px; margin:0 auto;"></div>
    <div v-show="this.key==='timeIntervalChart'"
         id="timeIntervalChart"
         style="width: 720px; height: 560px; margin:0 auto;"></div>
    <div v-show="this.statisticsKey === 1" id="statistics">
        最大菜品收入:{{this.statistics[0][1]}}--{{this.statistics[0][0]}}
        <br>
        最小菜品收入:{{this.statistics[1][1]}}--{{this.statistics[1][0]}}
        <br>
        最大菜品单价:{{this.statistics[2][1]}}--{{this.statistics[2][0]}}
        <br>
        最小菜品单价:{{this.statistics[3][1]}}--{{this.statistics[3][0]}}
        <br>
        最长制作时间:{{this.statistics[6][1]}}--{{this.statistics[6][0]}}
        <br>
        最短制作时间:{{this.statistics[7][1]}}--{{this.statistics[7][0]}}
        <br>
        最多点菜数:{{this.statistics[4][1]}}--{{this.statistics[4][0]}}
        <br>
        最少点菜数:{{this.statistics[5][1]}}--{{this.statistics[5][0]}}
    </div>
  </div>

</template>


<script>
export default {
  components: {},
  data() {
    return {
      dishes: [],
      dishesName: [],
      key: 'notall',
      dialogFormVisible: false,
      form: {
        delivery: false,
        type: '',
        checkList: [],
        pieColor: '默认',
      },
      formLabelWidth: '150px',
      income_std_define: -1,
      time_std_define: -0,
      statistics: [[0,0],[0,0],[0,0],[0,0],[0,0],[0,0],[0,0],[0,0]],
      statisticsKey:0,
      pieColor: [
        ['#7EC0EE', '#FF9F7F', '#FFD700', '#C9C9C9', '#E066FF', '#C0FF3E'],
        [
          {
            colorStops: [
              {
                offset: 0,
                color: '#ff7474',
              },
              {
                offset: 1,
                color: '#4176ff',
              },
            ],
          },

          {
            colorStops: [
              {
                offset: 0,
                color: '#95ec95',
              },
              {
                offset: 1,
                color: '#4ebb4e',
              },
            ],
          },
          {
            colorStops: [
              {
                offset: 0,
                color: '#ea92ff',
              },
              {
                offset: 1,
                color: '#a847bf',
              },
            ],
          },
          {
            colorStops: [
              {
                offset: 0,
                color: '#ffe390',
              },
              {
                offset: 1,
                color: '#f7c222',
              },
            ],
          },
          {
            colorStops: [
              {
                offset: 0,
                color: '#9090ff',
              },
              {
                offset: 1,
                color: '#5656f0',
              },
            ],
          },
        ],
        [ '#5A5476', '#1869A0', '#FF9393','#45C2E0', '#C1EBDD', '#FFC851'],
      ],
    }
  },
  methods: {
    customize() {
      this.dialogFormVisible = true
      this.income_std_define = ''
      this.time_std_define = ''
      this.form.checkList = this.dishesName
    },
    customize_cancel() {
      this.dialogFormVisible = false
      this.income_std_define = -1
      this.time_std_define = -1
      this.form.checkList = this.dishesName
      this.statisticsKey=0
    },
    customize_submit() {
      this.dialogFormVisible = false
      if (this.form.type === '收入百分比') {
        this.percentagePieChart('percentagePieChart')
      } else if (this.form.type === '点菜次数') {
        this.numberOrdersChart('numberOrdersChart')
      } else if (this.form.type === '菜品收入') {
        this.incomeChart('incomeChart')
      } else if (this.form.type === '平均耗时') {
        this.timeIntervalChart('timeIntervalChart')
      } else if (this.form.type === '综合统计'){
          this.dishesStatistics()
          this.statisticsKey=1
          this.key = 'statistics'
      }
      
      this.income_std_define = -1
      this.time_std_define = -1
    },
    dishesStatistics(){
        var maxIncome=-1,maxOrder=-1,maxTime=-1,minIncome=-1,minOrder=-1,minTime=1,maxprice=-1,minprice=-1
        for (var i = 0; i < this.dishes.length; i++) {
            if (this.judgeDish(this.dishes[i].name)) continue
            if(maxIncome == -1 || maxIncome<this.dishes[i].allincomes){
                maxIncome=[this.dishes[i].allincomes,this.dishes[i].name]
            }if(minIncome == -1 || minIncome>this.dishes[i].allincomes){
                minIncome=[this.dishes[i].allincomes,this.dishes[i].name]
            }if(maxprice == -1 || maxprice<this.dishes[i].income){
                maxprice=[this.dishes[i].income,this.dishes[i].name]
            }if(minprice == -1 || minprice>this.dishes[i].income){
                minprice=[this.dishes[i].income,this.dishes[i].name]
            }if(maxOrder == -1 || maxOrder<this.dishes[i].num){
                maxOrder=[this.dishes[i].num,this.dishes[i].name]
            }if(minOrder == -1 || minOrder>this.dishes[i].num){
                minOrder=[this.dishes[i].num,this.dishes[i].name]
            }if(maxTime == -1 || maxTime<this.dishes[i].time_interval){
                maxTime=[this.dishes[i].time_interval,this.dishes[i].name]
            }if(minTime == -1 || minTime>this.dishes[i].time_interval){
                minTime=[this.dishes[i].time_interval,this.dishes[i].name]
            }
      }
      this.statistics=[maxIncome,minIncome,maxprice,minprice,maxOrder,minOrder,maxTime,minTime]
    },
    showAll() {
      this.percentagePieChart('all')
      this.numberOrdersChart('all')
      this.incomeChart('all')
      this.timeIntervalChart('all')
    },
    getAllDishes() {
      this.$http.get('api/getDishesIncome/').then((response) => {
        this.dishes = response.data
        for (var i = 0; i < this.dishes.length; i++) {
          this.form.checkList.push(this.dishes[i].name)
        }
        this.dishesName = this.form.checkList
        this.percentagePieChart('percentagePieChart')
      })
    },
    percentagePieChart(msg) {
      this.key = msg
      var legendDatas = []
      var seriesDatas = []
      for (var i = 0; i < this.dishes.length; i++) {
        if (this.judgeDish(this.dishes[i].name)) continue
        legendDatas.push(this.dishes[i].name)
        seriesDatas.push({
          value: this.dishes[i].percentage,
          name: this.dishes[i].name,
        })
      }
      var colors = this.pieColor[0]
      if (this.form.pieColor === '炫酷') colors = this.pieColor[1]
      else if (this.form.pieColor === '简约') colors = this.pieColor[2]

      var idname = 'percentagePieChart'
      if (this.key === 'all') idname = 'percentagePie'
      // 基于准备好的dom，初始化echarts实例
      var pieChart = this.$echarts.init(document.getElementById(idname))
      pieChart.setOption({
        color: colors,
        title: {
          text: '菜品收入百分比', //标题
          x: 'center', // 位置
        },
        legend: {
          orient: 'vertical', //图例列表的布局朝向。
          left: 'left', //距离左侧的距离
          data: legendDatas,
        },
        series: [
          {
            name: '菜品收入百分比',
            type: 'pie', //类型
            radius: '60%', //饼图的半径
            center: ['50%', '50%'], //饼图位置的中心（圆心）坐标，数组的第一项是横坐标，第二项是纵坐标。
            data: seriesDatas,
          },
        ],
      })
    },
    numberOrdersChart(msg) {
      this.key = msg
      var seriesDatas = []
      for (var i = 0; i < this.dishes.length; i++) {
        if (this.judgeDish(this.dishes[i].name)) continue
        seriesDatas.push({
          value: this.dishes[i].num,
          name: this.dishes[i].name,
        })
      }
      var colors = this.pieColor[0]
      if (this.form.pieColor === '炫酷') colors = this.pieColor[1]
      else if (this.form.pieColor === '简约') colors = this.pieColor[2]
      var idname = 'numberOrdersChart'
      if (this.key === 'all') idname = 'NumberOrdersPie'

      // 基于准备好的dom，初始化echarts实例
      var pieChart = this.$echarts.init(document.getElementById(idname))
      var option = {
        color: colors,
        title: {
          text: '点菜次数分析', //标题
          x: 'center', // 位置
        },
        tooltip: {
          trigger: 'item',
        },
        legend: {
          top: '5%',
          left: 'left',
          orient: 'vertical',
        },

        series: [
          {
            name: 'Access From',
            type: 'pie',
            radius: ['40%', '70%'],
            avoidLabelOverlap: false,
            itemStyle: {
              borderRadius: 10,
              borderColor: '#fff',
              borderWidth: 2,
            },
            label: {
              show: false,
              position: 'center',
            },
            emphasis: {
              label: {
                show: true,
                fontSize: '40',
                fontWeight: 'bold',
              },
            },
            labelLine: {
              show: false,
            },
            data: seriesDatas,
          },
        ],
      }
      pieChart.setOption(option)
    },
    incomeChart(msg) {
      if (this.income_std_define === '') this.income_std_define = -1
      this.key = msg
      var seriesDatas = []
      var xDatas = []
      for (var i = 0; i < this.dishes.length; i++) {
        if (this.judgeDish(this.dishes[i].name)) continue
        xDatas.push(this.dishes[i].name)
        seriesDatas.push(this.dishes[i].allincomes)
      }
      var idname = 'incomeChart'
      if (this.key === 'all') idname = 'incomeBar'

      // 基于准备好的dom，初始化echarts实例
      var pieChart = this.$echarts.init(document.getElementById(idname))
      var option = {
        title: {
          text: '菜品收入分析', //标题
          x: 'center', // 位置
        },
        xAxis: {
          type: 'category',
          data: xDatas,
        },
        yAxis: {
          type: 'value',
        },
        series: [
          {
            data: seriesDatas,
            type: 'bar',
            showBackground: true,
            backgroundStyle: {
              color: 'rgba(180, 180, 180, 0.2)',
            },
            itemStyle: {
              normal: {
                color: '#4BC0C0',
              },
            },
            markLine: {
              symbol: 'none',
              label: {
                color: '#FF1D00',
                fontSize: 15,
                formatter: '期望',
              },
              lineStyle: {
                type: 'solid',
                color: '#FF1D00',
                width: 2.5,
              },
              data: [
                { yAxis: this.income_std_define, name: this.income_std_define },
              ],
            },
          },
        ],
      }
      pieChart.setOption(option)
    },
    timeIntervalChart(msg) {
      if (this.time_std_define === '') this.time_std_define = -1
      this.key = msg
      var seriesDatas = []
      var xDatas = []
      for (var i = 0; i < this.dishes.length; i++) {
        if (this.judgeDish(this.dishes[i].name)) continue
        xDatas.push(this.dishes[i].name)
        seriesDatas.push(this.dishes[i].time_interval)
      }
      var idname = 'timeIntervalChart'
      if (this.key === 'all') idname = 'timeIntervalBar'

      // 基于准备好的dom，初始化echarts实例
      var pieChart = this.$echarts.init(document.getElementById(idname))
      var option = {
        title: {
          text: '制作平均耗时分析', //标题
          x: 'center', // 位置
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow',
          },
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true,
        },
        xAxis: [
          {
            type: 'category',
            data: xDatas,
            axisTick: {
              alignWithLabel: true,
            },
          },
        ],
        yAxis: [
          {
            type: 'value',
            splitLine: {
              //分割线
              lineStyle: {
                //分割线样式
                type: 'dotted',
                color: '#000',
              },
            },
          },
        ],
        series: [
          {
            name: 'Direct',
            type: 'bar',
            barWidth: '60%',
            data: seriesDatas,
            itemStyle: {
              normal: {
                color: '#4BC0C0',
              },
            },
            markLine: {
              symbol: 'none',
              label: {
                color: '#FF1D00',
                fontSize: 15,
                formatter: '期望',
              },
              lineStyle: {
                type: 'solid',
                color: '#FF1D00',
                width: 2.5,
              },
              data: [
                { yAxis: this.time_std_define, name: this.time_std_define },
              ],
            },
          },
        ],
      }
      pieChart.setOption(option)
    },
    judgeDish(dishName) {
      for (var i = 0; i < this.form.checkList.length; i++) {
        if (this.form.checkList[i] === dishName) return false
      }
      return true
    },
  },
  mounted: function () {
    this.getAllDishes()
  },
}
</script>

<style scoped>
div .space {
  display: block;
  width: 100px;
  height: 30px;
}
#statistics{
    padding-left: 70px;
    text-align: center;
    display: inline-block;
    font-size: 3em;
    text-decoration: none;
    color: hsl(240, 78%, 7%);
    font-family: 'Boogaloo', cursive;
    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
}
</style>
