<template>
  <OverviewTables></OverviewTables>
</template>

<script>
import OverviewTables from "../components/OverviewTables.vue";

export default {
  components: { OverviewTables },
  data() {
    return {};
  }
};
</script>
