<template>
  <div class="main">
    <el-table :data="cuisines" style="width: 100%" stripe max-height="750">
      <el-table-column prop="order" label="桌子编号"></el-table-column>
      <el-table-column prop="dish" label="菜品名称"></el-table-column>
      <el-table-column prop="state" label="状态"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="handleCirculate(scope.row)">流 转</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  name: "Kitchen",
  data: function () {
    return {
      cuisines: []
    };
  },
  methods: {
    getMyCuisine() {
      this.$http.get("api/getMyCuisines/", {
        params: {
          id: this.$route.query.userId
        }
      }).then((response) => {
        this.cuisines = response.data;
      });
    },
    handleCirculate(row) {
      this.$http.get("api/changeTaskState/", {
        params: {
          cuisineId: row.id,
          cookId: this.$route.query.userId
        }
      }).then((response) => {
        if( response.data !== 'success' ) {
          this.$notify({
            title: "warning",
            message: "操作失败",
            type: "warning"
          });
        } else {
          location.reload();
        }
      });
    }
  },
  mounted: function () {
    this.getMyCuisine();
  }
};
</script>
