<template>
  <div>
    <el-table :data="dishData" style="width: 100%">
      <el-table-column label="菜单" width="180">
        <template slot-scope="scope">
          <el-popover trigger="hover" placement="top">
            <img :src="baseURL + scope.row.image" class="image" alt=""/>
            <p>菜名: {{ scope.row.name }}</p>
            <p>价钱: {{ scope.row.price }}</p>
            <p>材料: {{ scope.row.material }}</p>
            <div slot="reference" class="name-wrapper">
              <el-tag size="large">{{ scope.row.name }}</el-tag>
            </div>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column label="单价" width="180">
        <template slot-scope="scope">
          <span style="margin-left: 10px">{{ scope.row.price }}</span>
        </template>
      </el-table-column>
      <el-table-column label="份数" width="180">
        <template slot-scope="scope">
          <span style="margin-left: 10px">{{ scope.row.count }}</span>
        </template>
      </el-table-column>
      <el-table-column label="小计" width="180">
        <template slot-scope="scope">
          <span style="margin-left: 10px">{{ scope.row.sum }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)"
          >添加
          </el-button
          >
          <el-button
              size="mini"
              type="danger"
              @click="handleDelete(scope.$index, scope.row)"
          >删除
          </el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <p v-show="this.total !== 0">总价：{{ total }}</p>
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="备注">
        <el-col :span="9">
          <el-input v-model="note" placeholder="请输入备注"></el-input>
        </el-col>
      </el-form-item>
      <el-button type="primary" plain @click="submit"
      >提交菜单<i class="el-icon-circle-check"></i
      ></el-button>
      <el-button type="primary" plain @click="cancel"
      >取消菜单<i class="el-icon-circle-check"></i
      ></el-button>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "Order",
  data() {
    return {
      note: "备注",
      baseURL: this.GLOBAL.baseURL,
      total: 0,
      dishData: []
    };
  },
  methods: {
    cancel() {
      this.$router.push({
        path: "/Floor",
        query: {
          role: this.$route.query.role,
          userId: this.$route.query.userId
        }
      });
    },
    submit() {
      const formData = new FormData();
      formData.append("tableId", this.$route.query.tableId);
      formData.append("userId", this.$route.query.userId);
      formData.append("totalPrice", this.total);
      formData.append("note", this.note);
      for( let i = 0; i < this.dishData.length; i++ ) {
        for( let j = 0; j < this.dishData[i]["count"]; j++ ) {
          formData.append("dishId", this.dishData[i]["id"]);
        }
      }
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      this.$http.post("api/createOrder/", formData, config).then((response) => {
        if( response.data === "success" ) {
          this.$router.push({
            path: "/Floor",
            query: {
              role: this.$route.query.role,
              userId: this.$route.query.userId
            }
          });
        } else {
          this.$notify({
            title: "warning",
            message: "上传失败",
            type: "warning"
          });
        }
      });
    },
    handleEdit(index, row) {
      row.count = row.count + 1;
      row.sum = row.price * row.count;
      this.total += row.price;
    },
    handleDelete(index, row) {
      if( row.count > 0 ) {
        row.count = row.count - 1;
        this.total -= row.price;
      }
      row.sum = row.price * row.count;
    },
    getAllDishes() {
      this.$http.get("api/getAllDishes/").then((response) => {
        this.dishData = response.data;
      });
    }
  },

  mounted: function () {
    this.getAllDishes();
  }
};
</script>
