<template>
  <OverviewOrder></OverviewOrder>
</template>
<script>
import OverviewOrder from "../components/OverviewOrder.vue";

export default {
  components: { OverviewOrder },
  data() {
    return {};
  }
};
</script>
