<template>
  <el-table
      ref="table"
      :data="dishes"
      style="width: 100%"
      stripe
      max-height="750"
  >
    <el-table-column prop="name" label="菜品名称"></el-table-column>
    <el-table-column prop="price" label="菜品价格"></el-table-column>
    <el-table-column prop="cost" label="菜品成本"></el-table-column>
    <el-table-column prop="material" label="菜品原料"></el-table-column>
    <el-table-column prop="image" label="菜品图片">
      <template v-slot="scope">
        <img :src="baseURL + scope.row.image" alt="" width="90" height="90"/>
      </template>
    </el-table-column>
    <el-table-column label="操作">
      <template v-slot="scope">
        <el-button type="primary" plain @click="toogleExpand(scope.row)">编辑</el-button>
        <el-button type="danger" plain @click="deleteDishes(scope.row.id)"> 删除菜品</el-button>
      </template>
    </el-table-column>
    <el-table-column type="expand" width="1">
      <template slot-scope="scope">
        <el-form label-position="left" :model="form" label-width="80px">
          <el-form-item label="菜品名称">
            <el-input
                v-model="form.name"
                :placeholder="scope.row.name"
                class="inlineInput"
            >
            </el-input>
          </el-form-item>
          <el-form-item label="菜品价格">
            <el-input-number
                v-model="form.price"
                :precision="2"
                :step="1"
                :min="0"
                :max="10000000"
                :placeholder="scope.row.price"
            ></el-input-number>
          </el-form-item>
          <el-form-item label="菜品成本">
            <el-input-number
                v-model="form.cost"
                :precision="2"
                :step="1"
                :min="0"
                :max="10000000"
                :placeholder="scope.row.cost"
            ></el-input-number>
          </el-form-item>
          <el-form-item label="菜品原料">
            <el-input
                type="textarea"
                v-model="form.material"
                :placeholder="scope.row.material"
                class="inlineInput"
            ></el-input>
          </el-form-item>
          <el-form-item label="菜品图片">
            <input type="file" accept="image/*" @change="getImage($event)"/>
          </el-form-item>
          <el-form-item>
            <el-button
                type="primary"
                @click="handleDishSave(scope.row.id, form)"
            >保存修改
            </el-button
            >
          </el-form-item>
        </el-form>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  name: "OverviewDish",
  data: function () {
    return {
      dishes: [],
      baseURL: this.GLOBAL.baseURL,
      form: {
        name: "",
        cost: "",
        price: "",
        material: "",
        images: []
      },
      image: []
    };
  },
  created() {
    let dishes = this.dishes;
    dishes.map((item) => {
      item.expansion = false;
    });
  },
  methods: {
    getImage(event) {
      this.image = [];
      const file = event.target.files;
      for( let i = 0; i < file.length; i++ ) {
        this.image.push(file[i]);
      }
    },
    getAllDishes() {
      this.$http.get("api/getAllDishes/").then((response) => {
        this.dishes = response.data;
      });
    },
    toogleExpand(row) {
      let $table = this.$refs.table;
      this.dishes.map((item) => {
        if( row.id !== item.id ) {
          $table.toggleRowExpansion(item, false);
          item.expansion = false;
        } else {
          item.expansion = !item.expansion;
        }
      });
      $table.toggleRowExpansion(row);
    },
    deleteDishes(dishes_id) {
      console.log("xx");
      console.log(dishes_id);
      const formData = new FormData();
      formData.append("dishes_id", dishes_id);
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      this.$http.post("api/deleteDish/", formData, config).then((response) => {
        console.log(response.data);
        // eslint-disable-next-line no-constant-condition
        if( response.data === "success" ) {
          this.$notify({
            title: "成功",
            message: "菜品删除成功",
            type: "success"
          });
          this.getAllDishes();
        }
      });
      console.log("xxxx");
    },
    handleDishSave(id, form) {
      if(form.name===''||form.price===''||form.cost===''||form.material===''||this.image.length===0){
        this.$notify({
            title: "warning",
            message: '输入不能为空',
            type: "warning"
          });
        return
      }
      const formData = new FormData();
      formData.append("id", id);
      formData.append("name", form.name);
      formData.append("price", form.price);
      formData.append("cost", form.cost);
      formData.append('material', form.material)
      for( let i = 0; i < this.image.length; i++ ) {
        formData.append("image", this.image[i]);
      }
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      this.$http.post("api/changeDish/", formData, config).then((response) => {
        if( response.data === "success" ) {
          this.$notify({
            title: '成功',
            message: '菜品修改成功',
            type: 'success'
          });
          this.getAllDishes();
        }
      });
    }
  },
  mounted: function () {
    this.getAllDishes();
  }
};
</script>
