<template>
  <div style="height:80%">
      <el-row>
          <el-col :span="2"><el-tag style="background-color: #d2d2d2" type="info">空闲：{{ numEmpty }}</el-tag></el-col>
          <el-col :span="2"><el-tag style="background-color: #67c23a" type="info">已落座：{{ numSetted }}</el-tag></el-col>
          <el-col :span="2"><el-tag style="background-color: #e6a23c" type="info">已点菜：{{ numOrdered }}</el-tag></el-col>
          <el-col :span="2"><el-tag style="background-color: #f56c6c" type="info">需打扫：{{ numLeft }}</el-tag></el-col>
          <div>
        <el-button class="legend4" type="primary" @click="handleModify" v-show="role==='manager'">修改布局</el-button>
        <el-button style="margin-right: 20px" v-show="modifing" class="legend4" type="primary"
                   @click="handleModifyFinish">完成修改
        </el-button>
      </div>
      </el-row>


    <div class="father">
      <!-- <VueDragResize :isActive="true" :w="200" :h="200" :isResizable="false" :snapToGrid="true" :x="1000" @dragstop="onDragstop" @dragging="onDrag(99)">
            <h3>Hello World!</h3>
            <p>{{ top }} х {{ left }} </p>
            <p>{{ width }} х {{ height }}</p>
        </VueDragResize>
        <VueDragResize :isActive="true" :w="200" :h="200" :isResizable="false" :snapToGrid="true" :x="1">
            <h3>Hello World!</h3>
            <p>{{ top }} х {{ left }} </p>
            <p>{{ width }} х {{ height }}</p>
        </VueDragResize> -->
      <ul class="ul">
        <li
            class="li"
            v-for="item in tables"
            :key="item.id"
            :background="item.color"
        >
          <div @click="handleTableClick(item)">
            <VueDragResize
                class="myResize"
                :x="item.left"
                :y="item.top"
                :isActive="false"
                :is-draggable="modifing"
                :isResizable="false"
                :snapToGrid="true"
                :w="100"
                :h="100"
                @dragging="onDragging(item)"
                @dragstop="onDragstop"
            >
              <div style="text-align: center;line-height: 100px;font-size: 25px;color:#545c64 "
                   :style="{ background: item.color }">{{
                  item.number
                }}
              </div>
              <div v-show="item.showManual&&!modifing" class="manual">
                <el-button
                    style="margin-left: 5px"
                    type="success"
                    v-show="item.state === '空闲'"
                    @click="handleSeat(item)"
                >落 座
                </el-button
                >
                <el-button
                    style="margin-left: 5px"
                    v-show="item.state=== '已落坐'"
                    type="primary"
                    @click="handleOrder(item)"
                >点 单
                </el-button>
                <el-button
                    style="margin-left: 0"
                    v-show="item.state === '已点菜'"
                    type="warning"
                    @click="handleLeave(item)"
                >离 开
                </el-button>
                <el-button
                    style="margin-left: 0"
                    v-show="item.state === '已离开'"
                    type="danger"
                    @click="handleClean(item)"
                >清 洁
                </el-button>
              </div>
            </VueDragResize>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import VueDragResize from "vue-drag-resize";

export default {
  name: "OverviewTables",
  components: { VueDragResize },
  data: function () {
    return {
      tables: [],
      role: this.$route.query.role,
      userId: this.$route.query.userId,
      list: [1, 2, 3, 4, 5],
      width: 0,
      height: 0,
      top: 0,
      left: 0,
      tableId: 0,
      moveAble: false,
      modifing: false,
      numEmpty: 0,
      numSetted: 0,
      numOrdered: 0,
      numLeft: 0
    };
  },
  methods: {
    getAllTables() {
      this.$http.get("api/getAllTables/").then((response) => {
        this.tables = response.data;
        for( var i = 0; i < this.tables.length; i++ ) {
          if( this.tables[i].state === '空闲' ) {
            this.numEmpty++;
          } else if( this.tables[i].state === '已落坐' ) {
            this.numSetted++;
          } else if( this.tables[i].state === '已点菜' ) {
            this.numOrdered++;
          } else if( this.tables[i].state === '已离开' ) {
            this.numLeft++;
          }
        }
      });
    },
    handleModify() {
      this.modifing = true;
    },
    handleModifyFinish() {
      this.modifing = false;
    },
    handleOrder(row) {
      this.$router.push({
        path: "/Order",
        query: {
          role: this.role,
          tableId: row.id,
          userId: this.userId
        }
      });
    },

    handleSeat(row) {
      const formData = new FormData();
      formData.append("userId", this.userId);
      formData.append("number", row.number);
      formData.append("oldstate", row.state);
      formData.append("newstate", "settled");
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      this.$http.post("api/changeState/", formData, config).then((response) => {
        this.message = response.data;
        location.reload();
      });
    },

    handleLeave(row) {
      const formData = new FormData();
      formData.append("userId", this.userId);
      formData.append("number", row.number);
      formData.append("oldstate", row.state);
      formData.append("newstate", "left");
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      this.$http.post("api/changeState/", formData, config).then((response) => {
        this.message = response.data;
        location.reload();
      });
    },

    handleClean(row) {
      const formData = new FormData();
      formData.append("userId", this.userId);
      formData.append("number", row.number);
      formData.append("oldstate", row.state);
      formData.append("newstate", "free");
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      this.$http.post("api/changeState/", formData, config).then((response) => {
        this.message = response.data;
        location.reload();
      });
    },
    onDragstop: function (position) {
      //console.log(x);
      //   console.log(this.tableId);
      //   console.log(position)

      const formData = new FormData();
      formData.append("id", this.tableId);
      formData.append("left", position.left);
      formData.append("top", position.top);
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      this.$http.post("api/changeTablePosition/", formData, config).then((response) => {
        console.log(response.data)
      });

    },
    onDragging: function (item) {
      this.tableId = item.id;
    },
    handleTableClick: function (item) {
      if( !this.modifing ) {
        item.showManual = !item.showManual;
      }
    }
  },
  mounted: function () {
    this.getAllTables();
  }
};
</script>

<style scoped>
.legend4 {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.father {
  margin-top: 20px;
  width: 100%;
  height: 80%;
  border: 2px solid grey;
}

.ul {
  width: 100%;
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.li {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
}

.myResize {
  border: 0 solid #545c64;
  height: 100px;
  width: 100px;
}

.manual {
  margin-top: 5px;
  margin-left: 5px;
}
</style>
