<template>
  <el-table
      ref="table"
      :data="users"
      style="width: 100%"
      stripe
      max-height="750"
  >
    <el-table-column prop="name" label="名字"></el-table-column>
    <el-table-column prop="salary" label="工资"></el-table-column>
    <el-table-column prop="role" label="职位"></el-table-column>
    <el-table-column prop="productivity" label="今日工作量"></el-table-column>
    <el-table-column label="操作">
      <template v-slot="scope">
        <el-button type="primary" plain @click="toogleExpand(scope.row)">编辑</el-button>
        <el-button type="danger" plain @click="deleteUsers(scope.row.id)">删除职工</el-button>
      </template>
    </el-table-column>
    <el-table-column type="expand" width="1">
      <template slot-scope="scope">
        <el-form label-position="left"
                 :model="form"
                 label-width="80px">
          <el-form-item label="员工名称">
            <el-input v-model="form.name"
                      :placeholder="scope.row.name"
                      class="inlineInput">
            </el-input>
          </el-form-item>
          <el-form-item label="员工工资">
            <el-input-number
          v-model="form.salary"
          :precision="2"
          :step="100"
          :min="0"
          :max="10000000"
      ></el-input-number>
          </el-form-item>
          <el-form-item label="员工职位">
            <el-radio-group v-model="form.role"
                            size="medium">
              <el-radio border
                        label="manager"></el-radio>
              <el-radio border
                        label="host"></el-radio>
              <el-radio border
                        label="waiter"></el-radio>
              <el-radio border
                        label="busboy"></el-radio>
              <el-radio border
                        label="cook"></el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item>
            <el-button type="primary"
                       @click="handleUserSave(scope.row.id, form)">保存修改
            </el-button>
          </el-form-item>
        </el-form>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  name: 'OverviewUser',
  data: function () {
    return {
      users: [],
      form: { name: "", salary: "", role: "" }
    };
  },
  created() {
    let users = this.users
    users.map((item) => {
      item.expansion = false
    })
  },

  methods: {
    getAllUsers() {
      this.$http.get('api/getAllUsers/').then((response) => {
        this.users = response.data
        console.log(this.users)
      })
    },
    toogleExpand(row) {
      let $table = this.$refs.table
      this.users.map((item) => {
        if( row.id !== item.id ) {
          $table.toggleRowExpansion(item, false)
          item.expansion = false
        } else {
          item.expansion = !item.expansion
        }
      })
      $table.toggleRowExpansion(row)
    },
    handleUserSave(id, form) {
        if(form.name===''||form.salary===''||form.role===''){
        this.$notify({
            title: "warning",
            message: '输入不能为空',
            type: "warning"
          });
        return
      }
      const formData = new FormData()
      formData.append('userid', id)
      formData.append('name', form.name)
      formData.append('salary', form.salary)
      formData.append('role', form.role)
      const config = {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }
      this.$http.post('api/changeUser/', formData, config).then((response) => {
        if( response.data === 'success' ) {
          this.$notify({
            title: '成功',
            message: '员工信息更改成功',
            type: 'success'
          })
        }
      })
      form.name = ''
      form.salary = ''
      form.role = ''
      this.getAllUsers()
      location.reload()
    },
    deleteUsers(users_id) {
      console.log('xx')
      console.log(users_id)
      const formData = new FormData()
      formData.append('users_id', users_id)
      const config = {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }
      this.$http.post('api/deleteUser/', formData, config).then((response) => {
        // eslint-disable-next-line no-constant-condition
        if( response.data === 'success' ) {
          this.$notify({
            title: '成功',
            message: '员工删除成功',
            type: 'success'
          })
          this.getAllUsers()
        }
      })
    }
  },
  mounted: function () {
    this.getAllUsers()
  }
}
</script>

<style scoped>
.inlineInput {
  width: 30%;
}
</style>
