<template>
  <div>
    <el-table :data="orders"
              style="width: 100%"
              stripe
              max-height="750">
      <el-table-column prop="date" label="时间"  min-width="15%"></el-table-column>
      <el-table-column prop="table" label="桌子" min-width="15%"></el-table-column>
      <el-table-column prop="total_price" label="总价" min-width="15%"></el-table-column>
      <el-table-column prop="waiter" label="服务员" min-width="15%"></el-table-column>
      <el-table-column prop="note" label="备注" min-width="15%"></el-table-column>
      <el-table-column label="操作" min-width="25%">
        <template slot-scope="scope">
          <el-popover placement="left" trigger="click">
            <el-button slot="reference"
                       type="primary"
                       plain
                       @click="getOrderCuisines(scope.row.id)">查看菜单
            </el-button>
            <el-table :data="cuisines" height="400">
              <el-table-column property="dish" label="菜品"></el-table-column>
              <el-table-column property="cook" label="厨师"></el-table-column>
              <el-table-column property="state" label="状态"></el-table-column>
              <el-table-column property="headOfUnaccept" label="创建时间"></el-table-column>
              <el-table-column property="headOfUnfinished" label="接取时间"></el-table-column>
              <el-table-column property="headOfFinished" label="完成时间"></el-table-column>
            </el-table>
          </el-popover>
          <el-popover placement="left"
                      trigger="click">
            <el-button slot="reference"
                       type="warning"
                       plain
                       style="margin-left: 10px"
                       @click="getOrderProcess(scope.row.id)">流程追踪
            </el-button>
            <el-timeline :reverse="reverse">
              <el-timeline-item v-for="(process, index) in processes"
                                :key="index"
                                :timestamp="process.timestamp">
                {{ process.state }}{{ process.time }}
              </el-timeline-item>
            </el-timeline>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  name: 'OverviewOrder',
  data: function () {
    return {
      orders: [],
      cuisines: [],
      processes: []
    }
  },
  methods: {
    getOrderProcess(val) {
      this.$http.get('api/getOrderProcess/', {
        params: {
          id: val
        }
      }).then((response) => {
        this.processes = response.data
      })
    },
    getOrderCuisines(val) {
      this.$http.get('api/getOrderCuisines/', {
        params: {
          id: val
        }
      }).then((response) => {
        this.cuisines = response.data
      })
    },
    getAllOrders() {
      this.$http.get('api/getAllOrders/').then((response) => {
        this.orders = response.data
      })
    }
  },
  mounted: function () {
    this.getAllOrders()
  }
}
</script>

