<template>
  <el-tabs>
    <el-tab-pane label="职工总览">
      <OverviewUser></OverviewUser>
    </el-tab-pane>
    <el-tab-pane label="增加职工">
      <AddUser></AddUser>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import OverviewUser from "./OverviewUser.vue";
import AddUser from "./AddUser.vue";

export default {
  components: { OverviewUser, AddUser },
  data() {
    return {};
  }
};
</script>
