<template>
  <body id="poster" class="poster" style="background-color: whitesmoke">
  <div class="main">
    <div v-show="this.role === undefined">
      <div class="sign" style="height: 900px;padding-top:150px">
        <el-form
            class="login-container"
            ref="form"
            label-width="40px"
            label-position="left"
        >
          <h3 class="login_title">系统登录</h3>
          <el-form-item label="账号" style="margin-left: 50px">
            <el-col span="18">
              <el-input
                  v-model="account"
                  placeholder="请输入账号"
                  size="large"
              ></el-input>
            </el-col>
          </el-form-item>

          <el-form-item label="密码" style="margin-left: 50px">
            <el-col :span="18">
              <el-input
                  placeholder="请输入密码"
                  v-model="password"
                  show-password
              ></el-input>
            </el-col>
          </el-form-item>

          <el-form-item style="width: 100%;margin-left: 80px">
            <el-button type="primary" @click="onSubmit">安全登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <div>
      <el-menu
          class="el-menu-demo"
          mode="horizontal"
          background-color="#545c64"
          text-color="#fff"
          active-text-color="#ffd04b"
          router
      >
        <el-menu-item
            index="5"
            style="float: right"
            @click="userExit"
            v-show="this.role !== undefined"
        >退出登录
        </el-menu-item
        >
      </el-menu>
      <el-container>
        <el-aside style="width: 250px">
          <el-menu
              :default-openeds="['1', '3']"
              class="el-menu-demo"
              router
          >
            <el-submenu index="2" v-show="
              this.role === 'manager' ||
              this.role === 'busboy' ||
              this.role === 'waiter' ||
              this.role === 'host'
            ">
              <template slot="title"><i class="el-icon-s-home"></i>地板界面</template>
              <el-menu-item
                  index="2-1"
                  @click="floor"
              >店内桌椅情况
              </el-menu-item>
            </el-submenu>
            <el-submenu index="3" v-show="this.role === 'manager' || this.role === 'cook'">
              <template slot="title"><i class="el-icon-dish"></i>厨房界面</template>
              <el-menu-item
                  index="3-1"
                  @click="kitchen"
              >订单处理情况
              </el-menu-item>
            </el-submenu>
            <el-submenu index="4" v-show="this.role === 'manager'">
              <template slot="title"><i class="el-icon-setting"></i>管理界面</template>
              <el-menu-item-group>
                <el-menu-item index="3-2" @click="orderOverview">订单管理</el-menu-item>
                <el-menu-item index="3-3" @click="personnelManagement">员工管理</el-menu-item>
                <el-menu-item index="3-4-1" @click="dishManagement">菜品管理</el-menu-item>
                <el-menu-item index="3-4-2" @click="analysisDish">菜品分析</el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </el-menu>
        </el-aside>
        <el-main style="background-color: whitesmoke;height: 900px">
          <router-view></router-view>
        </el-main>
      </el-container>
    </div>
  </div>
  </body>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      isCollapse: true,
      account: "",
      password: "",
      userId: this.$route.query.userId,
      role: this.$route.query.role
    };
  },
  methods: {

    userExit() {
      ( this.account = "" ),
          ( this.password = "" ),
          ( this.userId = undefined ),
          ( this.role = undefined ),
          this.$router.push({
            path: ""
          });
    },
    personnelManagement() {
      this.$router.push({
        path: "/PersonnelManagement",
        query: {
          userId: this.userId,
          role: this.role
        }
      });
    },
    dishManagement() {
      this.$router.push({
        path: "/DishManagement",
        query: {
          userId: this.userId,
          role: this.role
        }
      });
    },
    orderOverview() {
      this.$router.push({
        path: "/OverviewOrder",
        query: {
          userId: this.userId,
          role: this.role
        }
      });
    },
    analysisDish() {
      this.$router.push({
        path: "/AnalysisDish",
        query: {
          userId: this.userId,
          role: this.role
        }
      });
    },
    floor() {
      this.$router.push({
        path: "/Floor",
        query: {
          userId: this.userId,
          role: this.role
        }
      });
    },
    kitchen() {
      this.$router.push({
        path: "/Kitchen",
        query: {
          userId: this.userId,
          role: this.role
        }
      });
    },
    onSubmit() {
      if (this.account.length < 1 || this.account.length > 200) {
        this.$notify({
            title: "warning",
            message: '账号的长度不应该小于1或大于200',
            type: "warning"
          });
        this.account = ''
        return
      }
      if (this.password.length < 5 || this.account.length > 200) {
        this.$notify({
            title: "warning",
            message: '账号的长度不应该小于5或大于200',
            type: "warning"
          });
        this.password = ''
        return
      }
      const formData = new FormData();
      formData.append("account", this.account);
      formData.append("password", this.password);
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      this.$http.post("api/signIn/", formData, config).then((response) => {
        if( response.data === "fail" ) {
          this.$notify({
            title: "warning",
            message: "登录失败",
            type: "warning"
          });
        } else {
          this.userId = response.data[0]["id"];
          this.role = response.data[0]["role"];
          var path;
          switch (this.role) {
            case "manager":
              path = "/AnalysisDish";
              break;
            case "cook":
              path = "/Kitchen";
              break;
            case "busboy":
            case "waiter":
            case "host":
              path = "Floor";
              break;
            default:
              path = "/Error";
              break;
          }
          this.$router.push({
            path: path,
            query: {
              userId: this.userId,
              role: this.role
            }
          });
        }
      });
    }
  }
};
</script>

<style>
.poster {
  /* background:url("\\assets\\757896.jpg") no-repeat; */
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: fixed;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

.login-container {
  border-radius: 15px;
  background-clip: padding-box;
  margin: 90px auto;
  width: 350px;
  padding: 35px 35px 15px 35px;
  background: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 25px #cac6c6;
}

.login_title {
  margin: 0 auto 40px auto;
  text-align: center;
  color: #505458;
}
</style>
